.container-contato {
  width: 85.3%;

  margin-left: 100px;
  padding-top: 100px;
  border-top: 1px solid rgba(51, 50, 61, .15);

  display: flex;
  justify-content: center;
  gap: 150px;

  color: #33323D;
}

.container-contato h1 {
  margin-bottom: 20px;
}

.container-contato p {
  width: 400px;

  margin-bottom: 20px;

  text-align: justify;
  text-indent: 25px;
  line-height: 25px;
}

.container-contato nav {
  width: 400px;

  padding-right: 25px;

  display: flex;
  justify-content: right;
  gap: 50px;
}