.container-home {
  width: 100vw;
  height: calc(100vh - 85px);

  background-image: url("../../Assets/fundo-home.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 815px) {
  .container-home {
    background-position-y:50px;
  }
}