.nav-header {
  display: flex;
  gap: 50px;

  font-size: 1.6rem;
}

.nav-header a {
  text-decoration: none;
  color: #33323D;

}

.nav-header a:focus {
  color: #5FB4A2;
}

@media (max-width: 430px) {
  .nav-header {
    display: flex;
    gap: 15px;
  }
}

@media (max-width: 319px) {
  .nav-header {
    display: flex;
    gap: 10px;
  }
}

@media (max-width: 295px) {
  .nav-header {
    gap: 6px;
  }
}