.container-sobre {
  height: calc(100vh - 85px);

  padding: 0 100px;

  display: flex;
  gap: 75px;

  color: #33323D;
}

.left-sobre {
  flex-basis: 50%;

  display: flex;
  align-items: center;
}

.fundo-sobre {
  width: 100%;
}

.rigth-sobre {
  flex-basis: 45%;

  padding-top: 10px;

  border-top: 1px solid rgba(51, 50, 61, .15);
}

.rigth-sobre h1 {
  margin-bottom: 15px;
}

.rigth-sobre p{
  text-align: justify;
  text-indent: 25px;
  line-height: 25px;

  font-size: 1.6rem;
}

@media (max-width: 1035px) {
  .container-sobre {
    padding: 0 75px;
    gap: 60px;
  }
}

@media (max-width: 960px) {
  .container-sobre {
    padding: 0 50px;
    gap: 40px;
  }
}

@media (max-width: 691px) {
  .container-sobre {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 497px) {
  .container-sobre {
    padding: 0 20px;

    align-items: center;
  }

  .fundo-sobre {
    width: 280px;
  }
}